body {
    margin: 0;
    padding: 0;
    background-image: url('https://images.pexels.com/photos/5952651/pexels-photo-5952651.jpeg?cs=srgb&dl=pexels-mati-mango-5952651.jpg&fm=jpg'); /* Replace with your actual image URL */
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}

header {
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    color: white;
    padding: 10px;
    text-align: center;
    height: 2.5em;
}
h1 {
    height: 2.5em;
    line-height: 2.5em;
}

nav {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.blog {
    flex: 1;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}

.blog-post {
    margin-bottom: 20px;
}

.blog-post h2 {
    color: red;
}
.logo-container{
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #fff;
}
.logo-container img{
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}